html *{
    margin: 0;
    padding: 0;
}
header,nav,section,article,aside,footer,time{
    display:block;
}
html *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    height:100%;
}
body{
    min-height:100%;
    min-width:1000px;
    font-family: Arial sans-serif;
    font-size:12px;
    background:#fff;
    color:#000;
    position:relative;
}
/* helping adds*/
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: '';
}

.clearfix:after {
    clear: both;
}
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.vfix{height:100%;width:0;display:inline-block;vertical-align:middle;}

/* /helping adds*/
a {
    color: #42a4ec;
    position: relative;
    display: inline-block;
}
.link_pic{
    padding-left: 30px;
}

.sky{
    -webkit-box-shadow:inset 0 6px 0 0 #f8e27b,inset 0 -2px 0 0 #fbeca7;
    box-shadow:inset 0 6px 0 0 #f8e27b,inset 0 -2px 0 0 #fbeca7;
}

.sky:before{
    content: '';
    position: absolute;
    top:5px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 11px 0 11px;
    border-color: #f8e17b transparent transparent transparent;
}

.resize{
    width: 960px;
    margin:0 auto;
    position: relative;
}

/* header*/

.header_top{
    margin-bottom: 35px;
    border-bottom: 1px solid #b2def8;
    padding:15px 0 10px 0;
}
/*colum*/
.col{
    float: left;
}
.col_3x{
    width: 33.33%;
}
.col-left{
    text-align: left;
}
.col-center{
    text-align: center;
}
.col-right{
    text-align: right;
}
.contacts{
    text-align: justify;
}
/*/colum*/



.header_main{
    margin-bottom:33px;
}
.header_main .col-left, .header_main .col-right a{
    margin-bottom: 15px;
}
.header_menu{
}

.button {
    padding: 5px 10px 5px 0;
    /*display: inline-block;*/
    /*position: relative;*/
    color: black;
    text-align: center;
    background: #fae851;
    border-radius: 10px;
    text-decoration: none;
    /*font-family: Arial sans-serif;*/
    font-size: 14px;
    line-height: 1em;
}
.button:hover {
    background: #fefba5;
}

.link:before{
    content: "";
    position: absolute;
    background: url(../images/sprite.png) no-repeat left top;
    height: 18px;
    width: 18px;
    left: 5px;
    top: -1px;
}
.link_coins:before{background-position: -102px 0;}
.link_pen:before {background-position: -124px 0;}
.link_skype:before {background-position: -75px 0;}
.link_icq:before {background-position: -25px 0;}
.link_mail:before {background-position: 0 0;}
.link_basket:before {background-position: -170px 0;}
.link_wishes:before {background-position: -146px 0;}



.header_top .col-center a {
    display: inline-block;
    width: 35px;
    height: 32px;
    margin: 0 2px;
    background: url(../images/social_icon.png) no-repeat left top;
}
.col-center a.vk { background-position: 0 0; }
.col-center a.ok { background-position: -43px 0;}
.col-center a.fb { background-position: -85px 0;}


.menu a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 2.5em;
    text-decoration: none;
    color: black;
}
.menu_bottom a:hover{
    border-bottom: 1px solid #0193E9;
    color: #0193E9;
}
.menu_top a:hover{
   text-decoration: underline;
    color: #0193E9;
}
.menu_top{
    display: block;
    margin: 0 auto;
    width: 70%;
}
.menu_top a {
    min-width: 9%;
    font-style: italic;
    padding: 0 1%;
}
.menu_bottom{margin: 0 6%}
.menu_bottom a {
    text-transform: uppercase;
    /*width: 10%;*/
    margin: 0 1%;
}

/*leftarrow,rightarrow*/
.leftarrow{
    display: block;
    position: absolute;
    top: 30%;
    left: 1%;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #fae851;
    
}

.leftarrow p{
    color: #019def;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    top: 5%;
    left: 40%;
}

.rightarrow{
    display: block;
    position: absolute;
    top: 30%;
    right: 1%;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #fae851;
    
}

.rightarrow p{
    color: #019def;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    top: 5%;
    right: 40%;
}

.discount{
    position: absolute;
    top: 7%;
    right: 11%;
    font-size: 14px;
    font-weight: bold;
    color: #0087e3; 
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #fae851;

} 

.discount p{
    position: absolute;
    top: 25%;
    right: 0px;
}

.product>.discount{
    visibility: hidden; 
}
/*t-shirt product*/

.product_row{
    width: 100%;
    position: relative;
} /*линия из горизонтальной разметки должен сделать Витя */



.product{
    position: relative;
    width: 25%;
    float: left;
    padding: 25px 15px 0 15px;
    text-align: center;
    font-size: 14px;


}

.imgproduct{
    display: inline-block;
    height: 235px;
    font-size: 0px;
    margin-bottom: 5px;
}

.imgproduct img{
    max-width: 100%;
    vertical-align: middle;
}

.title_product{
    color:#0193e9;
    font-weight: bold;

}

.comment_product{
    color: #000;
    font-weight: normal;
    margin-bottom: 15px;
}

.price_product{
    color: #676767;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;

}

.hovercomment{
    padding: 25px 0;
    visibility: hidden;
}

.product:hover{
    border:3px solid #0193e9;

}

.product:hover>.hovercomment{
    visibility: visible;
}

.product:hover>.discount{
    visibility: visible;
}

/*t_shirt smallproduct*/


.smallproduct{
    position: relative;
    width: 8%;
    float: left;
    padding: 5px 0px;
    text-align: center;
    font-size: 14px;

}
.imgproduct_small{

    height: 140px;
    margin-bottom: 10px;

}