html *{
    margin: 0;
    padding: 0;
}
header,nav,section,article,aside,footer,time{
    display:block;
}
 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    height:100%;
}
body{
    min-height:100%;
    min-width:1000px;
    font-family: Arial sans-serif;
    font-size:12px;
    background:#fff;
    color:#312a2a;
    position:relative;
}
/* helping adds*/
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: '';
}

.clearfix:after {
    clear: both;
}
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.vfix{height:100%;width:0;display:inline-block;vertical-align:middle;}

/* /helping adds*/

@font-face {
    font-family: 'intro_regular';
    src: url('../fonts/8289_1-webfont.eot');
    src: url('../fonts/8289_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/8289_1-webfont.woff2') format('woff2'),
    url('../fonts/8289_1-webfont.woff') format('woff'),
    url('../fonts/8289_1-webfont.ttf') format('truetype'),
    url('../fonts/8289_1-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('../fonts/pfdindisplaypro-regular-webfont.eot');
    src: url('../fonts/pfdindisplaypro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-regular-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-regular-webfont.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #42a4ec;
    position: relative;
    display: inline-block;
}
.link_pic{
    padding-left: 30px;
    position: relative;
}
.link_italic {
    font-family: Georgia,  Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
}
.sky{
    -webkit-box-shadow:inset 0 6px 0 0 #f8e27b,inset 0 -2px 0 0 #fbeca7;
    box-shadow:inset 0 6px 0 0 #f8e27b,inset 0 -2px 0 0 #fbeca7;
}

.sky:before{
    content: '';
    position: absolute;
    top:5px;
    left: 50%;
    margin-left: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 11px 0 11px;
    border-color: #f8e17b transparent transparent transparent;
}

.resize{
    width: 960px;
    margin:0 auto;
    position: relative;
}

/* header*/

.header_top{
    margin-bottom: 35px;
    border-bottom: 1px solid #b2def8;
    padding: 17px 0 10px 0;
}
/*colum*/
.col{
    float: left;
}
.col_3x{
    width: 33.33%;
}
.col-left{
    text-align: left;
}
.col-center{
    text-align: center;
}
.col-right{
    text-align: right;
}
.contacts{
    text-align: justify;
}
/*/colum*/



.header_main{
    margin-bottom:33px;
    color: #747474;
    font-size: 13px;
}
.header_main .col-left div{
    margin-bottom: 15px;
}

.header_main .col-right a{
    margin-bottom: 15px;
}
.header_menu{
    width: 100%;
    display: block;
}

.button {
    padding: 5px 10px 5px 0;
    /*display: inline-block;*/
    /*position: relative;*/
    color: #312a2a;
    text-align: center;
    background: #fae851;
    border-radius: 10px;
    text-decoration: none;
    /*font-family: Arial sans-serif;*/
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
}
.button:hover {
    background: #fefba5;
}

.link_pic:before{
    content: "";
    position: absolute;
    background: url(../images/sprite.png) no-repeat left top;
    height: 20px;
    width: 20px;
    left: 5px;
    top: -1px;
}
.link_coins:before{background-position: -102px 0;}
.link_pen:before {background-position: -124px 0;}
.link_skype:before {background-position: -75px 0;}
.link_icq:before {background-position: -25px 0;}
.link_mail:before {background-position: 0 0;}
.link_basket:before {background-position: -170px 0;}
.link_basket_grey:before {background-position: -220px 0;}
.link_wishes:before {background-position: -146px 0;}
.link_label:before {background-position: -195px 0;}


.header_top .col-center a {
    display: inline-block;
    width: 35px;
    height: 32px;
    margin: 0 2px;
    background: url(../images/social_icon.png) no-repeat left top;
}
.col-center a.vk { background-position: 0 0; }
.col-center a.ok { background-position: -43px 0;}
.col-center a.fb { background-position: -85px 0;}

/*header_main*/
.logo {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.logo h1 {
    font-family: intro_regular;
    color: #0193e9;
    font-size: 28px;
}
.logo_coloryellow {
    color: #f4cf23;
}
.black-line {
    border: solid 1px #000000;
    width: 55px;
    margin: 8px auto;
}
.logo p {
    font-family: pf_dindisplay_proregular;
    color: #848181;
    letter-spacing: 2px;
}


.no-link {
    text-decoration: none;
    border-bottom: dotted 1px;
}
.phone {
    font-size: 16px;
    font-weight: bold;
    /*letter-spacing: 1px;*/
}


/*menu*/
ul.menu li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 2.5em;
}
.menu a {
    text-decoration: none;
    color: #747474;
}

.menu_bottom a:hover{
    border-bottom: 1px solid #0193E9;
    color: #0193E9;
}
.menu_top a:hover{
    text-decoration: underline;
    color: #0193E9;
}
.menu{
    display: block;
    margin: 0 auto;
    width: 75%;
}
.menu_top li {
    /*min-width: 5%;*/
    padding: 0 1%;
}
.menu_bottom{
    width: 92%;
    /*margin: 0px 13%;*/

}
.menu_bottom li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    /*width: 10%;*/
    padding: 0 1%;
}
/*/menu*/

/*main*/
.main{
    background-image: url(../images/ornament_top.png);
    background-position: top;
    background-repeat: repeat-x;
    }
.main-promo {
    padding-top: 20px;
    margin-bottom: 50px;

}
.slider {
    background: url("../images/promo-image.png")no-repeat top right;
    border: solid 3px #f4cf23;
    width: 74%;
    height: 300px;
    float: left;
    position: relative;
    background-color: white;
    margin-right: 5px;
}
.promo-text {
    width: 50%;
    font-family: Arial;
    color: #676767;
    padding: 6% 0 6% 10%;
}
.slider h2 {
    text-transform: uppercase;
    color: #0193e9;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    /*padding-bottom: 5%;*/
}
.slider p {
    margin-bottom: 30px;
    /*padding-bottom: 10%;*/
}
.price {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 55px;
    /*padding-bottom: 15%;*/
}
.slider .leftarrow, .slider .rightarrow {
    top: 45%;
}
.slider .discount{
    top: -70%;
    right: -35%;
}
.promo-product{
    float: left;
    width: 25%;
}
.promo-product__row{
    margin-bottom: 3px;
    padding: 0 15px;
    background-color: white;
    border: 3px solid #0193e9;
    background-color: white;
    height: 98px;
}
.promo-product__row:last-child{
    margin-bottom: 0;
}
.product-text{
    box-sizing: border-box;
    float: left;
    width: 60%;
    padding: 10px 0 15px;
}
.product-text a{
    margin-bottom: 15px;
}
.product-img{
    float: left;
    max-height: 100%;
    max-width: 100%;
}    
.main__social{
    margin-bottom: 45px;
    text-align: center;
}
.main__service{
    margin-bottom: 40px;
}
.main__service .col_3x{
    padding: 0 20px 0 90px;
}






/*leftarrow,rightarrow*/
.leftarrow{
    display: block;
    position: absolute;
    top: 30%;
    left: 1%;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #fae851;
    
}

.leftarrow p{
    color: #019def;
    position: absolute;
    font-size: 39px;
    font-weight: 900;
    top: -20%;
    left: 30%;
}

.rightarrow{
    display: block;
    position: absolute;
    top: 30%;
    right: 1%;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #fae851;
}

.rightarrow p{
    color: #019def;
    position: absolute;
    font-size: 39px;
    font-weight: 900;
    top: -20%;
    right: 30%;
}

.discount{
    position: absolute;
    top: 7%;
    right: 11%;
    font-size: 14px;
    font-weight: bold;
    color: #0087e3; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fae851;
} 

.discount p{
    position: absolute;
    top: 30%;
    right: 4px;
}

.product>.discount{
    visibility: hidden; 
}
/*t-shirt product*/

.product_row{
    width: 100%;
    position: relative;
    font-size: 0;
    text-align: justify;
} /*линия из горизонтальной разметки должен сделать Витя */



.product{
    position: relative;
    width: 25%;
    float: left;
    padding: 25px 15px 0 15px;
    text-align: center;
    font-size: 14px;


}

.imgproduct{
    display: inline-block;
    height: 235px;
    font-size: 0;
    margin-bottom: 5px;
}

.imgproduct img{
    max-width: 100%;
    vertical-align: middle;
}

.title_product{
    color:#0193e9;
    font-weight: bold;

}

.comment_product{
    color: #000;
    font-weight: normal;
    margin-bottom: 15px;
}

.price_product{
    color: #676767;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.hovercomment{
    padding: 25px 0;
    visibility: hidden;
}

.product:hover{
    border:3px solid #0193e9;
}

.product:hover>.hovercomment{
    visibility: visible;
}

.product:hover>.discount{
    visibility: visible;
}

/*t_shirt smallproduct*/


.smallproduct{
    display: inline-block;
    position: relative;
    width: 7.5%;
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;

}
.imgproduct_small{
    height: 140px;
    margin-bottom: 10px;

}