html *{
    margin: 0;
    padding: 0;
}
header,nav,section,article,aside,footer,time{
    display:block;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    height:100%;
}
body{
    min-height:100%;
    min-width:1000px;
    font-family: Arial, sans-serif;
    font-size:12px;
    background:#fff;
    color:#312a2a;
    position:relative;
}
/* helping adds*/
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: '';
}
.clearfix:after {
    clear: both;
}
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.vfix:after{content:"";height:100%;width:0;display:inline-block;vertical-align:middle;}

/* /helping adds*/

@font-face {
    font-family: 'intro_regular';
    src: url('../fonts/8289_1-webfont.eot');
    src: url('../fonts/8289_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/8289_1-webfont.woff2') format('woff2'),
    url('../fonts/8289_1-webfont.woff') format('woff'),
    url('../fonts/8289_1-webfont.ttf') format('truetype'),
    url('../fonts/8289_1-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('../fonts/pfdindisplaypro-regular-webfont.eot');
    src: url('../fonts/pfdindisplaypro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-regular-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-regular-webfont.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #42a4ec;
    position: relative;
    display: inline-block;
}
a:hover {
    color: darkgreen;
}
.link_pic{
    padding-left: 30px;
    position: relative;
}
.link_italic {
    font-family: Georgia,  Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
}
.sky{
    -webkit-box-shadow:inset 0 6px 0 0 #f8e27b,inset 0 -2px 0 0 #fbeca7;
    box-shadow:inset 0 6px 0 0 #f8e27b,inset 0 -2px 0 0 #fbeca7;
}

.sky:before{
    content: '';
    position: absolute;
    top:5px;
    left: 50%;
    margin-left: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 11px 0 11px;
    border-color: #f8e17b transparent transparent transparent;
}
.resize{
    width: 960px;
    margin:0 auto;
    position: relative;
}

/* header*/

.header-top{
    margin-bottom: 35px;
    border-bottom: 1px solid #b2def8;
    padding: 17px 0 10px 0;
}
/*colum*/
.col{
    float: left;
    padding: 0 10px;
}

.col_7pct{
    width: 7.65%;
}
.col_25pct{
    width: 25%
}
.col_33pct{
    width: 33.33%;
}
.col_35pct{
    width: 35%;
}
.col_40pct{
    width: 40%;
}
.col_50pct{
    width: 50%;
}
.col_60pct{
    width: 60%;
}
.col_65pct{
    width: 65%;
}
.col_75pct{
    width: 75%;
}

.item_left{
    text-align: left;
}
.item_center{
    text-align: center;
}
.item_right{
    text-align: right;
}
.contacts{
    text-align: justify;
}

.button {
    padding: 5px;
    /*display: inline-block;*/
    /*position: relative;*/
    color: #312a2a;
    text-align: center;
    background: #fae851;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
}
.button:hover {
    background: #fefba5;
}
.link_pic:before{
    content: "";
    position: absolute;
    background: url(../images/sprite.png) no-repeat left top;
    height: 20px;
    width: 20px;
    left: 5px;
    top: -2px;
}
.link_coins:before{background-position: -102px 0;}
.link_pen:before {background-position: -124px 0;}
.link_skype:before {background-position: -75px 0;}
.link_icq:before {background-position: -25px 0;}
.link_mail:before {background-position: 0 0;}
.link_basket:before {background-position: -170px 0;}
.link_basket_grey:before {background-position: -220px 0;}
.link_wishes:before {background-position: -146px 0;}
.link_label:before {background-position: -195px 0;}
.link_phone:before {background-position: -50px 0;}

.header-top .item_center a  {
    display: inline-block;
    width: 35px;
    height: 32px;
    margin: 0 2px;
    background: url(../images/social_icon.png) no-repeat left top;
}
.item_center a.vk { background-position: 0 0; }
.item_center a.ok { background-position: -43px 0;}
.item_center a.fb { background-position: -85px 0;}



/*header_main*/
.header-main{
    margin-bottom:33px;
    color: #747474;
    font-size: 13px;
}
.header-main .item_left div{
    margin-bottom: 15px;
}
.header-main .item_right a{
    margin-bottom: 15px;
}
.logo {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.logo h1 {
    font-family: intro_regular, sans-serif;
    color: #0193e9;
    font-size: 28px;
}
.logo_coloryellow {
    color: #f4cf23;
}
.black-line {
    border: solid 1px #000000;
    width: 55px;
    margin: 8px auto;
}
.logo p {
    font-family: pf_dindisplay_proregular, sans-serif;
    color: #848181;
    letter-spacing: 2px;
}
.dashed-link {
    text-decoration: none;
    border-bottom: dotted 1px;
}
.phone {
    font-size: 16px;
    font-weight: bold;
}



/*header-menu*/
.menu li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 2.5em;
}
.menu a {
    text-decoration: none;
    color: #747474;
    text-align: center;
}
.menu_top a:hover{
    text-decoration: underline;
    color: #0193E9;
}
.menu{
    display: block;
    margin: 0 auto;
    width: 75%;
    position: relative;
    text-align: center;
    font-size: 0;
}
.menu_top li {
    /*min-width: 9%;*/
    padding: 0 5px;
}
.menu_bottom{
    width: 92%;
}
.menu_bottom a{
    border-bottom: 2px solid transparent;
}
.menu_bottom a:hover{
    border-bottom: 2px solid #0193E9;
    color: #0193E9;
}
.menu_bottom li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    /*min-width: 9%;*/
    padding: 0 7px;
}



/*main*/

.content{
    background-image:
            url(../images/ornament_top.png),
            url("../images/ornament_bot.png");
    background-repeat: repeat-x, repeat-x ;
    background-position: top, bottom;
    margin-bottom: 40px;
    padding-bottom: 170px;
}
.content-top {
    padding-top: 20px;
    margin-bottom: 50px;
}
.content-top .col_75pct{
    float: left;
}
.slider {
    background: url("../images/promo-image.png") no-repeat center right;
    border: solid 3px #f4cf23;
    position: relative;
    background-color: white;
    /*margin-right: 1%;*/
}
.slider-info {
    width: 51%;
    color: #676767;
    padding: 50px 0 50px 70px;
}
.slider-title {
    text-transform: uppercase;
    color: #0193e9;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.slider-text {
    margin-bottom: 30px;
}
.price {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 55px;
    /*padding-bottom: 15%;*/
}
.slider .leftarrow, .slider .rightarrow {
    top: 45%;
}
.slider .discount{
    top: -70%;
    right: -35%;
}
/*.right-col{*/
    /*float: left;*/
/*}*/
.col-row{
    margin-bottom: 5px;
    padding: 0 10px;
    background-color: white;
    border: 3px solid #0193e9;
    margin-left: -10px;
}
.col-row:last-child{
    margin-bottom: 0;
}
.col-row .product-info{
    float: left;
    width: 62%;
    padding: 10px 0;
}
.col-row .product-title{
    margin-bottom: 15px;
    line-height: 18px;
    font-size: 14px;
}
.col-row .product-img{
    float: right;
    width: 38%;
    top: 0;

}
.col-row .product-img img{
    width: 100%;
}
.col-row .price{
    font-size: 16px;
    margin: 0;
}
.content-widget{
    margin-bottom: 45px;
    text-align: center;
}
.widget-title{
    color: #0193e9;
    font-size: 22px;
    font-family: "intro_regular", sans-serif;
    margin-bottom: 25px;
}
.content-support{
    margin-bottom: 40px;
}

.support-item {
    padding: 5px 0 0 80px;
    text-align: left;
    position: relative;
}
.support-item:before {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    left: 0;
    background: url(../images/sprite_supported_icon.png) no-repeat left top;
    background-color: #019def;
    border-radius: 50%;
}
.icon_paint:before { background-position: -58px 0; }
.icon_operator:before { background-position: 0 0; }
.icon_delivery:before { background-position: -133px 0; }

.support-title1, .support-title2{
    font-size: 14px;
    margin-bottom: 15px;
}
.support-title1{
    display: block;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;

}
.support-title2{
    font-weight: bold;
    text-transform: uppercase;
}
.support-text{
    font-size: 12px;
    margin-bottom: 15px;
}
/*.content-support a{*/
    /*font-size: 12px;*/
/*}*/
.content-product{
    margin-bottom: 60px;
}
.content-product-title{
    margin-bottom: 15px;
}
.content-product-title h1{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #0193e9;
}
.content-product-title a{
    display: block;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
}
/*leftarrow,rightarrow*/
.leftarrow{
    display: block;
    position: absolute;
    top: 35%;
    left: 1%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fae851;
}
.leftarrow p{
    color: #019def;
    position: absolute;
    font-size: 39px;
    font-weight: 900;
    top: -40%;
    left: 30%;
}
.rightarrow{
    display: block;
    position: absolute;
    top: 35%;
    right: 1%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fae851;
}
.rightarrow p{
    color: #019def;
    position: absolute;
    font-size: 39px;
    font-weight: 900;
    top: -40%;
    right: 30%;
}
.discount{
    position: absolute;
    top: 7%;
    right: 11%;
    font-size: 14px;
    font-weight: bold;
    color: #0087e3; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fae851;
}
.discount p{
    position: absolute;
    top: 30%;
    right: 4px;
}



.product>.discount{
    visibility: hidden; 
}
/*t-shirt product*/

.product_row{
    /*width: 100%;*/
    position: relative;
    text-align: justify;
    font-size: 0;
}

.content-product-bottom{
    text-align: center;
    font-style: italic;
    font-family: georgia, sans-serif;
    font-size: 22px;
}
/*main__novelty*/
.content-product-small h2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0193e9;
}
/*.content-product-small .product_row, */
.content-product-small .hidden{
    border-top: 1px solid #b2def8;
    border-bottom: 1px solid #b2def8;
    padding: 15px 0;
}
.content-product-small{
    margin-bottom: 30px;
}

.product{
    position: relative;
    padding: 25px 5px 0 5px;
    text-align: center;
    font-size: 14px;
    border:3px solid transparent;
}
.imgproduct{
    display: inline-block;
    height: 235px;
    font-size: 0;
    margin-bottom: 5px;
}
.imgproduct img{
    max-width: 100%;
    vertical-align: middle;
}
.title_product{
    color:#0193e9;
    font-weight: bold;
    text-decoration: none;
}
.comment_product{
    color: #32393d;
    font-weight: normal;
    margin-bottom: 15px;
}
.price_product{
    color: #676767;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.hovercomment{
    margin: 25px 0;
    visibility: hidden;
}
.product:hover{
    border-color: #0193e9;
}
.product:hover>.hovercomment{
    visibility: visible;
}
.product:hover>.discount{
    visibility: visible;
}



/*t_shirt smallproduct*/

.smallproduct{
    /*float:left;*/
    display: inline-block;
    position: relative;
    width: 140px;
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;

}
.imgproduct_small{
    height: 140px;
    margin-bottom: 10px;
}

.scroll{
    text-align: center;
    font-size: 0;
    left: -2500px;
    width: 5000px;
    margin-left: 2500px;

}
.hidden {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}






/*bottom_contacts */
.bottom-info {
    padding-bottom: 35px;
}
.info-item{
    padding-right: 35px;
}
.info-title{
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b2def8;
}
.info-title > span{
    width: 80%;
    float: left;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #0193e9;
}
.info-title a{
    float: right;
    font-style: italic;
    text-align: right;
}
.info-block{
    margin-bottom: 25px;
}
.info-block:last-child{
    margin-bottom: 0;
}
.info-block p{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.info-block span{
    line-height: 22px;
    font-size: 14px;
    color: #0193e9;
}
.info-block_pic{
    padding-left: 85px;
    float: left;
}
.picture1:before{
    content: url(../images/userpic_man.png);
    margin-right: 5px;
    position: absolute;
    width: 66px;
    height: 66px;
    margin-left: -80px;
}
.picture2:before{
    content: url(../images/userpic_woman.png);
    margin-right: 5px;
    position: absolute;
    width: 66px;
    height: 66px;
    margin-left: -80px;
}


.bottom-promotion {
    padding: 45px 0 15px 0;
    background: url("../images/promo-image_bottom.png")  right center no-repeat;
    margin: 0 20px 60px 20px;
    position: relative;
}
.bottom-promotion p {
    font-size: 40px;
    font-weight: bold;
    color: #019def;
}
.bottom-promotion span {
    font-size: 100px;
    font-weight: bold;
    color: #f4cf23;
    display: inline-block;
    margin-right: 50%;
}


/*footer*/
.footer-main {
    margin-bottom: 40px;
}

footer .datalinks h2{
    font-size: 14px;
    text-align: left;
    margin-bottom: 15px;
}
footer .datalinks p{
    display: block;
    margin-bottom: 15px;
}
footer .itlinks{
}
footer .itlinks > a{
    margin-bottom: 20px;
}
.footer-social{
    margin-bottom: 15px;
}
.footer-social a{
    display: inline-block;
    width: 33px;
    height: 32px;
    margin: 0 2px;
    background: url(../images/social_icon-2.jpg) no-repeat left top;
}
.footer-social a.footer_vk{background-position: 0 0;}
.footer-social a.footer_ok{background-position: -43px 0;}
.footer-social a.footer_fb{background-position: -85px 0;}

footer .phones{
    color: #676767;
    font-size: 20px;
    font-weight: bold;

}
footer .phones p{
    margin-bottom: 15px;
    text-align: center;
}

.footer-info {
    margin-bottom: 30px;
    font-size: 11px;
}

.copyright{
    background: #0085e3;
    padding: 15px 0;
    color: white;
    text-align: center;
}



/* slider actions */
.lSAction > a {
    width: 37px;
    display: block;
    top: 50%;
    height: 37px;
    background-image: url('../images/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.9;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -41px 0;
    right: 12px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}
