
 *{
 box-sizing: border-box;
 }
 body>*>*{
	 border: 1px dashed green
 }

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: '';
}
.clearfix:after,
.clear {
	clear: both;
}
.top_lines{
 	margin: 0 0 20px 0;
 	padding: 10px 0 10px 80px;
 	position: relative;
 	min-height: 100px;
	color: darkgreen;
	background: linear-gradient( #46da62, #42d15e, #309444);

}
.wrapper{
	 width: 960px;
	 margin: 0 auto;
}


.header__item {
	float: left;
	margin: 0 10px;
}
.header__item_col1 {
	width: 70px;
}
.name{
	padding: 5px 0;
}

.header__item_col2 {
	width: 70px;
	height: 80px;
	position: absolute;
	left: 5px;
	top:  50%;
	margin-top: -45px;


}






.side-bar {
 	float: left;
 	width: 30%;
 	 background: linear-gradient( #e57a7a, #e23434, #fb0000);
	 padding: 15px;
 }
 .button {
	 float: left;
	 display: inline-block;
	 margin: 5px 5px;
	 padding: 10px 5px;
	 color: #fff;
	 text-align: center;
	 background: #4dfe4e;
	 border-bottom: 1px solid #282828;
	 border-radius: 5px;
	 text-decoration: none;
	 font-weight: bold;
	 font-size: 18px;
 }

 .button:hover {
	 border: 1px dashed #666
 }
 .button:focus{
	 background: #ff7e79;
 }
 .button:visited {
	 color: #666;
 }
 .data{
	 float: left;
	 padding: 5px 5px;
 }

.content{
 	float: left;
 	width: 70%;
 	 background: linear-gradient( #46da62, #42d15e, #309444);
 	color: darkgreen;
	 padding: 20px;
 }
 .article:before,.article:after{
	content: "!!!!";
}


 /* position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 margine:auto;
 widht: 55555;


